.content{
    display: flex;
    padding: 1%;
}

.content input{
    border: none;
    padding: .6%;
    width: 20%;
    color: rgb(90, 90, 90);
}

.content input:focus{
    outline: 1px solid rgb(87, 194, 221);
}

.searchBtn{
    padding: 4px;
    width: 2%;
    height: 2%;
}